{
  "mcpServers": {
    "filesystem": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "--mount", "type=bind,src=/home/cheer/Projects/MCP_test/myproject,dst=/myproject",
        "mcp/filesystem",
        "/myproject"
      ]
    },
    "weather": {
        "command": "python3",
        "args": [
            "weather.py"
        ]
    },
    "magic": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "-e", "TWENTY_FIRST_API_KEY=your key",
        "mcp/magic"
      ]
    }
  }
}